@model David.SecondBook.OnlineStore.WebApp.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}
<h2>Your cart</h2>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th class="text-right">Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Product.Name</td>
            <td class="text-right">@line.Product.Price.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.Product.Price).ToString("c"))
            </td>



            @using (Html.BeginForm("UpdateCart", "Cart"))
            {
            <td class="text-right">
            <input type="number" name="quantity" value=@line.Quantity /></td>
                @Html.Hidden("Id", line.Product.Id)
                @Html.HiddenFor(x => x.ReturnUrl)
                <td>
                    <input class="btn btn-sm btn-warning" type="submit" value="Update" />
                </td>
            }

                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("Id", line.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
</div>
